.container {
    position: relative;
    border: 3px solid yellow;
    width: 500px;
    height: 500px;

}
.cont {
    position: absolute;
    width: 200px;
    border: 2px solid green;
    top: 50px;
    left: 50px;
    

}
div {
    float: left;
    padding: 15px;
   
    
}
.div1 {
    background-color: blue;
    width: 20px;
}
.div2 {
    background-color: chartreuse;
    width: 30px;
}
.div3 {
    background-color: darkred;
    width:25px;
}